# Dependencias
node_modules/

# Compilados
dist/
build/
.angular/

# Variables de entorno
.env
.env.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db